

{% extends "index.html" %}

{% block content %}

<!--https://www.codeply.com/go/nhbdi2FkJm-->


<div class="col-md-6 mx-auto">

    <!-- form card login -->
    <div class="card rounded-0">

        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">

            <form class="form"  action = "/{{action}}" method = post >
                {{ form.hidden_tag() }}

                                
            <div class="form-group">
                {{ form.user_name.label }}
                {{ form.user_name(class_="form-control") }}

                {% if form.user_name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.user_name.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>


            <div class="form-group">
                {{ form.user_birthday.label }}
                {{ form.user_birthday(class_="form-control") }}

                {% if form.user_birthday.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.user_birthday.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.user_email.label }}
                {{ form.user_email(class_="form-control") }}

                {% if form.user_email.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.user_email.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.user_year.label }}
                {{ form.user_year(class_="form-control") }}

                {% if form.user_year.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.user_year.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.user_studybook.label }}
                {{ form.user_studybook(class_="form-control") }}


                {% if form.user_studybook.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.user_studybook.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>



                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->

</div>

</div>




{% endblock %}
